name: cubingcontests

services:
  nginx:
    container_name: cc-nginx
    image: nginx
    network_mode: host
    volumes:
      - ./volumes/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      # The env vars in this template file get substituted in the command below, and the final config file is saved
      - ./volumes/nginx/default.conf.template:/default.conf.template:ro
      - ./volumes/nginx/ssl/:/etc/nginx/ssl/:ro
      - ./down-for-maintenance-page.html:/var/www/html/50x.html:ro
    # The envsubst command below has to match this
    environment:
      NEXTJS_PORT: ${NEXTJS_PORT}
      KONG_HTTP_PORT: ${KONG_HTTP_PORT}
      KONG_HTTPS_PORT: ${KONG_HTTPS_PORT}
      PROD_HOSTNAME: ${PROD_HOSTNAME}
    command: [
        "/bin/sh",
        "-c",
        "envsubst '$$NEXTJS_PORT,$$KONG_HTTP_PORT,$$KONG_HTTPS_PORT,$$PROD_HOSTNAME' \
          < /default.conf.template \
          > /etc/nginx/conf.d/default.conf \
          && exec nginx -g 'daemon off;'"
      ]

  client:
    container_name: cc-nextjs
    image: ${DOCKER_IMAGE_NAME}
    networks:
      - shared
    ports:
      - 127.0.0.1:$NEXTJS_PORT:$NEXTJS_PORT
    volumes:
      # THIS IS TEMPORARY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
      - ./client/dump/:/app/dump/:ro
    environment:
      DATABASE_URL: postgresql://${CC_DB_USERNAME}.${POOLER_TENANT_ID}:${CC_DB_PASSWORD}@supabase-pooler:${POOLER_PROXY_PORT_TRANSACTION}/${POSTGRES_DB}
      CC_DB_SCHEMA: ${CC_DB_SCHEMA}
      EMAIL_API_KEY: ${EMAIL_API_KEY}
      BETTER_AUTH_URL: ${BETTER_AUTH_URL}
      BETTER_AUTH_SECRET: ${BETTER_AUTH_SECRET}
      LOGFLARE_API_BASE_URL: http://supabase-analytics:${LOGFLARE_PORT}
      LOGFLARE_PUBLIC_ACCESS_TOKEN: ${LOGFLARE_PUBLIC_ACCESS_TOKEN}
      MIGRATE_DB: ${MIGRATE_DB} # THIS IS TEMPORARY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    restart: always

networks:
  shared:
    name: cubingcontests_shared
    external: true # configured in docker-compose.yml