name: cubingcontests

services:
  nginx:
    container_name: cc-nginx
    image: nginx
    network_mode: host
    volumes:
      - ./volumes/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./volumes/nginx/conf.d/:/etc/nginx/conf.d/:ro
      - ./down-for-maintenance-page.html:/var/www/html/50x.html:ro

  client:
    container_name: cc-nextjs
    image: ${DOCKER_IMAGE_NAME}
    networks:
      - shared
    ports:
      - 127.0.0.1:$NEXTJS_PORT:$NEXTJS_PORT
    environment:
      DATABASE_URL: postgresql://${CC_DB_USERNAME}.${POOLER_TENANT_ID}:${CC_DB_PASSWORD}@supabase-pooler:${POOLER_PROXY_PORT_TRANSACTION}/${POSTGRES_DB}
      CC_DB_SCHEMA: ${CC_DB_SCHEMA}
      EMAIL_API_KEY: ${EMAIL_API_KEY}
      BETTER_AUTH_URL: ${BETTER_AUTH_URL}
      BETTER_AUTH_SECRET: ${BETTER_AUTH_SECRET}
      LOGFLARE_API_BASE_URL: http://supabase-analytics:${LOGFLARE_PORT}
      LOGFLARE_PUBLIC_ACCESS_TOKEN: ${LOGFLARE_PUBLIC_ACCESS_TOKEN}
    restart: always

networks:
  shared:
    name: cubingcontests_shared
    external: true # configured in docker-compose.yml