<html>
  <head>
    <title>Cubing Contests</title>
    <style>
      body { font-family: Arial, Helvetica, sans-serif; word-wrap: break-word; } .unofficial-events-contents { margin:
      1.5rem 0.5rem; padding: 1rem; border-radius: 10px; background-color: #eee; }
    </style>
  </head>
  <body>
    Your contest <a href="{{contestUrl}}">{{contestName}}</a> has been approved and is now public on the website.
  </body>
</html>